<div class="head-page" *ngIf="identity">
    <h1>{{titulo}}</h1>
    <a [routerLink]="['/add-artist']" class="btn btn-default" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
        Añadir artista
    </a>

    <ul class="pagination pull-right">
        <li>
            <a [routerLink]="['/artists', prev_page]">&laquo;</a>
        </li>
        <li>
            <a [routerLink]="['/artists', next_page]">&raquo;</a>
        </li>

    </ul>

    <div class="clearfix"></div>

    <ul class="artists-list">
        <li *ngFor="let artist of artists" class="col-lg-3 artist-item">
            <div class="artist-image">
                <img src="{{ url + 'get-image-artist/' + artist.image}}" alt="" />
            </div>
            <div class="artist-name">
                <a [routerLink]="['/artist/', artist._id]">
                    {{artist.name}}
                </a>
                <div class="buttons mx-auto" *ngIf="identity.role == 'ROLE_ADMIN'">
                    <a class="btn btn-sm btn-warning" [routerLink]="['/edit-artist', artist._id]">Editar</a>
                    <a class="btn btn-sm btn-danger" (click)="onDeleteConfirm(artist._id)">Eliminar</a>
                </div>
                <div class="seguro" *ngIf="confirmado == artist._id">
                    <a class="btn btn-sm btn-primary" (click)="onCancelArtist()">Cancelar</a>
                    <a class="btn btn-sm btn-danger" (click)="onDeleteArtist(artist._id)">Eliminar</a>
                </div>
            </div>
        </li>
    </ul>
</div>