<div class="artist-box" *ngIf="artist">
    <div class="artist-head-card">
        <div class="image">
            <img src="{{url + 'get-image-artist/' + artist.image}}" alt="" *ngIf="artist.image && 
            artist.image != 'null'">
        </div>
        <div class="data">
            <h1>{{artist.name}}</h1>
            <p class="artist-description">
                {{artist.description}}
            </p>
            <a *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default">
                Añadir album
            </a>
            <div class="clearfix"></div>
            <div class="gallery-albums">
                <!--Listar los albums-->

            </div>

        </div>

    </div>

</div>