<div class="col-lg-6" *ngIf="identity">
  <h1>{{titulo}}</h1>
  <!--FORMULARIO-->
  <div class="col-lg-10">
    <form #registerForm="ngForm" (ngSubmit)=onSubmit() class="col-md-10">
      <p>
        <label>Nombre:</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />
      </p>
      <span *ngIf="!name.valid && name.touched">
        El nombre es obligatorio
      </span>
      <p>
        <label>Apellidos:</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required />
      </p>
      <span *ngIf="!surname.valid && surname.touched">
        El apellido es obligatorio
      </span>
      <p>
        <label>Correo electrónico:</label>
        <input type="email" #email="ngModel" name="email_register" [(ngModel)]="user.email" class="form-control" required />
      </p>
      <span *ngIf="!email.valid && email.touched">
        El email es obligatorio
      </span>

      <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
        <img src="{{url + 'get-image-user/' + user.image}}" alt="" style="width: 100px" />
      </div>

      <p>
        <label>Sube tu foto:</label>
        <input type="file" name="" id="" placeholder="Seleccionar archivo" (change)="fileChangeEvent($event)" />
        <br />
      </p>
      <span>
        <input type="submit" value="Actualizar mis datos" class="btn btn-primary" />
      </span>
      <div *ngIf="alertMessage">
        <br />
        <div class="alert alert-danger" role="alert">
          <p>{{alertMessage}}</p>
        </div>
      </div>
    </form>
  </div>
</div>