/*GLOBAL*/
html, body{
    margin: 0px;
    height: 100%;
    background: #eee;
}

.central{
    height: 100%;
    overflow: scroll;
    
}

.seguro-artist,
.seguro-album{
    margin-top: -30px;
    background: #222326;
    position: absolute;
    height: 40px;
}
.seguro-album{
    margin-top: -40px;
    margin-left: 8px;
}

.btn-with-margin{
    margin-right: 4px;
}

/*BARRA LATERAL*/
.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.navigation{
    text-align: center;
    color: white;
    background: #1c1c1f;
    height: 100%;
}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation a:hover{
    color: white;
}

.navigation .glyphicon{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged{
    text-align: center;
    background: #1c1c1f;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75px;

}

.btn-logout{
    cursor: pointer;
}

#user_logged .user-image{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}

#user_logged .user-image img{
    width: 57px;
}

.actived{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}

.admin-message{
    font-style: italic;
    color: #b2bd99;
}

.artist-image-for-edit{
    width: 150px;
}

/*ARTISTAS Y ALBUMS*/
.artists-list,
.album-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
}

.artist-item,
.album-item{
    width: 23%;
    margin: 0px;
    padding: 0px;
    height: 326px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
}

.album-item{
    height: 365px;
}

.artist-item .artist-image,
.album-item .album-image{
    height: 254px;
    width: 100%;
    overflow: hidden;
    background: black;
}

.artist-item .artist-image img,
.album-item .album-image img{
    height: 100%;
}

.artist-item .artist-name,
.album-item .album-name{
    color: white;
    padding: 10px;
    background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
    color: white;
}

.artist-head-card .image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

.artist-head-card .image .img{
    height: 150px;
}